In [7]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('adults dataset preprocessed.csv')

In [9]:
data_import = pd.read_csv('adults.csv')
data_import

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

## Data preprocessing

In [10]:
data = data_import.copy()

### Label the columns

In [11]:
# create a new header
header = ["age", "workclass","fnlgt","education","education_num","marital_status","occupation","relationship","race","sex","capital_gain","capital_loss","hours_per_week","native_country","income"]

# Move old header row (which contains first data row) into dataframe
data.loc[-1] = data.columns.tolist()  # 
data.index = data.index + 1
data = data.sort_index().reset_index(drop=True)

# Assign the proper header names
data.columns = header

In [14]:
data["workclass"].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [16]:
data.columns

Index(['age', 'workclass', 'fnlgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [17]:
data

,age,workclass,fnlgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

### Data cleaning 
remove "race" as a feature <br>
remove eductaon bec we have education_num<br>
label encode sex<br>
cahnge native_country to be "Immigrant" or "Non_Immigrant" and standard encode<br>
drop income and store in separate variable<br>
one hot encode = work_class | martial_status | occupation | relationship<br>
scale all values<br>

In [ ]:
data_drop_race = data.copy() #deep copy as modifications will be made without affecting original data
data_drop_race = data_drop_race.drop(['education', 'race'],axis=1)

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
labedl_encode_sex = data_drop_race
labedl_encode_sex['sex'] = le.fit_transform(labedl_encode_sex['sex'])

native_country = labedl_encode_sex
native_country['native_country'] = native_country['native_country'].apply(lambda x: 0 if x == 'United-States' else 1)

y = native_country['income']

drop_incomes = native_country.drop(['income'],axis=1) 

one_hot_encode = pd.get_dummies(drop_incomes, columns = ['workclass', 'marital_status', 'occupation', 'relationship'], drop_first=False) #drop_first=True used with linear models to avoid dummy variable trap

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(one_hot_encode)

cleaned_data = pd.DataFrame(scaled_data, columns=one_hot_encode.columns)

In [42]:
cleaned_data

,age,fnlgt,education_num,sex,capital_gain,capital_loss,hours_per_week,native_country,workclass_ ?,workclass_ Federal-gov,...,occupation_ Protective-serv,occupation_ Sales,occupation_ Tech-support,occupation_ Transport-moving,relationship_ Husband,relationship_ Not-in-family,relationship_ Other-relative,relationship_ Own-child,relationship_ Unmarried,relationship_ Wife
0,0.030671,-1.063611,1.134739,0.703071,0.148453,-0.21666,-0.035429,0.0,-0.24445,-0.174295,...,-0.142608,-0.355316,-0.171279,-0.227104,-0.825333,1.708991,-0.17625,-0.429346,-0.344032,-0.224927
1,0.837109,-1.008707,1.134739,0.703071,-0.145920,-0.21666,-2.222153,0.0,-0.24445,-0.174295,...,-0.142608,-0.355316,-0.171279,-0.227104,1.211632,-0.585141,-0.17625,-0.429346,-0.344032,-0.224927
2,-0.042642,0.245079,-0.420060,0.703071,-0.145920,-0.21666,-0.035429,0.0,-0.24445,-0.174295,...,-0.142608,-0.355316,-0.171279,-0.227104,-0.825333,1.708991,-0.17625,-0.429346,-0.344032,-0.224927
3,1.057047,0.425801,-1.197459,0.703071,-0.145920,-0.21666,-0.035429,0.0,-0.24445,-0.174295,...,-0.142608,-0.355316,-0.171279,-0.227104,1.211632,-0.585141,-0.17625,-0.429346,-0.344032,-0.224927
4,-0.775768,1.408176,1.134739,-1.422331,-0.145920,-0.21666,-0.035429,0.0,-0.24445,-0.174295,...,-0.142608,-0.355316,-0.171279,-0.227104,-0.825333,-0.585141,-0.17625,-0.429346,-0.344032,4.445891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,-0.849080,0.639741,0.746039,-1.422331,-0.145920,-0.21666,-0.197409,0.0,-0.24445,-0.174295,...,-0.142608,-0.355316,5.838432,-0.227104,-0.825333,-0.585141,-0.17625,-0.429346,-0.344032,4.445891
32557,0.103983,-0.335433,-0.420060,0.703071,-0.145920,-0.21666,-0.035429,0.0,-0.24445,-0.174295,...,-0.142608,-0.355316,-0.171279,-0.227104,1.211632,-0.585141,-0.17625,-0.429346,-0.344032,-0.224927
32558,1.423610,-0.358777,-0.420060,-1.422331,-0.145920,-0.21666,-0.035429,0.0,-0.24445,-0.174295,...,-0.142608,-0.355316,-0.171279,-0.227104,-0.825333,-0.585141,-0.17625,-0.429346,2.906704,-0.224927
32559,-1.215643,0.110960,-0.420060,0.703071,-0.145920,-0.21666,-1.655225,0.0,-0.24445,-0.174295,...,-0.142608,-0.355316,-0.171279,-0.227104,-0.825333,-0.585141,-0.17625,2.329125,-0.344032,-0.224927
32560,0.983734,0.929893,-0.420060,-1.422331,1.888424,-0.21666,-0.035429,0.0,-0.24445,-0.174295,...,-0.142608,-0.355316,-0.171279,-0.227104,-0.825333,-0.585141,-0.17625,-0.429346,-0.344032,4.445891

## Modeling

In [45]:
from sklearn.cluster import KMeans

k = 2 #the number of clusters that we want to find
kmeans = KMeans(n_clusters=k,random_state=42)

y_pred = kmeans.fit_predict(cleaned_data) #assign each instance to a group from 0-4, fit the model and predict the clusters
y_pred

#kmeans.cluster_centers_ #get the coordinates of the cluster centers

#kmeans.predict(X_test)#Assigns each test value to a cluster

array([0, 1, 0, ..., 0, 0, 1], dtype=int32)